*,*:before,*:after{
    box-sizing: border-box;
}
.wrap{
    margin: 0 auto;
    width: 1000px;
	position: relative;
}
.top-btn{
	position: absolute;
	right: -70px;
	bottom: 150px;
	cursor: pointer;
}
.topbar{
    display: flex;
    justify-content: flex-end;
    background: #f6f6f6;
	padding: 5px 15px 5px 0px;
    a{
        text-decoration: none;
        &:hover img+span{
            color: #b30059;
        }
    }
    img{
        vertical-align: bottom;
    }
    span{
        font-size: 15px;
    }
    .facebook span{
        color: #4460a0;
    }
    .twitter{
        padding-left: 10px;
        span{
            color: #00aaec;
        }
    }
}
.header{
	display: flex;
	justify-content: space-between;
    z-index: 10;
    h1 a{
        display: block;
        background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
        width: 224px;
        height: 50px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 5px;
    }
}
.menu-jq-class{
	border-bottom: 5px solid $main-color !important;
}
.menu{
    font-size: $font-size-base;
	display: flex;
	margin-right: 15px;
	position: relative;
    >li>a{
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: $main-color;
        padding: 16px;
        border-bottom: 5px solid transparent;
        &:hover{
            border-bottom: 5px solid $main-color;
        }
    }
    .menu-product{
        display: none;
        position: absolute;
        top: 53px;
        z-index: 99;
        a{
            display: block;
            text-decoration: none;
            color: $main-color;
            padding: 5px;
            border-bottom: 5px solid transparent;
            background: #fff;
            opacity: 0.8;
            &:hover{
                opacity: 1;
                border-bottom: 5px solid transparent;
            }
        }
    }
}
.swiper{
	width: 1000px;
	height: 400px;
    img{
        height: 400px;
        width: 1000px;
    }
}
.banner-text{
	position: absolute;
	top: 95px;
	width: 1000px;
	color: #fff;
	font-size: $font-size-banner;
	line-height: 45px;
	padding: 40px 0px 40px 23px;
	background: #00000050;
	z-index: 9;
}
.course{
    font-size: $font-size-base;
	display: flex;
	justify-content: space-around;
    .course-item{
        width: 303px;
        border-left: 2px solid #f1f1f1;
        border-right: 2px solid #f1f1f1;
        border-bottom: 2px solid #f1f1f1;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 5px 4px -4px gray;
        margin-top: 65px;
        padding: 0px 20px 23px 20px;
        &:hover{
            box-shadow: 0px 0px 10px gray;
            transform: translateY(-10px);
        }
        img{
            width: 280px;
        }
        h3{
            text-align: center;
            font-size: $font-size-courseitem-title;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p{
            line-height: 22px;
        }
    }
}
.list{
	list-style-type: disc;
	padding-left: 22px;
    li{
        line-height: 22px;
    }
}
.tableh2{
	font-size: $font-size-title;
	text-align: center;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 30px;
}
.table{
    font-size: $font-size-base;
	margin: 0 auto;
    th, td{
        padding: 10px 0px 15px 30px;
        width: 220px;
        text-align: left;
    }
    th{
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        background: #f0ecec;
        font-weight: bold;
    }
    td{
        border-bottom: 1px solid #dddddd;
    }
    tr{
        &:hover{
            background: #f3f0f0;
        }
    }
    .green{
        color: $main-color;
    }
}
.form{
    font-size: $font-size-base;
	width: 100%;
	background:linear-gradient(#00644b,#009872);
	padding: 40px 20px 30px 20px;
	margin-top: 60px;
    h2{
        font-size: $font-size-title;
        color: #fff;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
    }
    form{
        display: flex;
        margin-top: 35px;
    }
    textarea{
        width: 460px;
        height: 245px;
        resize: none;
        margin-right: 40px;
        border-radius: 5px;
    }
    input{
        display: block;
        width: 460px;
        height: 32px;
        margin-top: 7px;
        margin-bottom: 15px;
        border-radius: 5px;
        border-color: transparent;
    }
    label{
        color: #fff;
        font-weight: bold;
    }
    .btn{
        display: flex;
        justify-content: flex-end;
        input{
            width: 70px;
            height: 32px;
            background: $main-color;
            color: #fff;
            cursor: pointer;
            &:hover{
                background: #03ac81;
            }
        }
    }
}
.footer{
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
    font-size: $font-size-base;
    img{
        height: 36px;
    }
    li{
        line-height: 25px;
        a{
            text-decoration: none;
            color: #e12d80;
            &:hover{
                text-decoration: underline;
                color: #ee6aa8;
            }
        }
    }
}